Rent Table for Project Comp257

In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
plt.style.use('seaborn')
%matplotlib inline

In [2]:
LGA = pd.read_excel('data/Rent-Tables-Jun-Quarter-2019.xlsx', sheet_name= 0)

In [3]:
postcode = pd.read_excel('data/Rent-Tables-Jun-Quarter-2019.xlsx', sheet_name=1)

In [4]:
LGA.shape

(33067, 15)

In [5]:
postcode.shape

(16481, 12)

In [7]:
LGA.replace(to_replace="-",value="",inplace=True)

In [9]:
LGA.head(100)

,GMR (Greater Metropolitan Region),Greater Sydney,Rings,LGA (Local Government Areas),Dwelling Types,Bedroom Numbers,First Quartile Weekly Rent for New Bonds\n$,Median Weekly Rent for New Bonds\n$,Third Quartile Weekly Rent for New Bonds\n$,New Bonds Lodged\nNo.,Total Bonds Held\nNo.,Quarterly change in Median Weekly Rent,Annual change in Median Weekly Rent,Quarterly change in New Bonds Lodged,Annual change in New Bonds Lodged
0,Total,Total,Total,Total,Total,Total,375,475,600,74871,764400,-0.0104,-0.0104,-0.0778,0.024
1,Total,Total,Total,Total,Total,Bedsitter,315,390,465,860,8880,-0.0488,0,-0.1739,-0.1088
2,Total,Total,Total,Total,Total,1 Bedroom,340,450,550,12637,105243,-0.0217,-0.0217,-0.1416,0.0235
3,Total,Total,Total,Total,Total,Not Specified,350,440,560,2796,57312,0.0115,-0.0414,-0.0729,-0.2183
4,Total,Total,Total,Total,Total,2 Bedrooms,360,465,610,27859,278716,-0.051,-0.0312,-0.0779,0.0655
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Total,Total,Total,Armidale Regional,Townhouse,4 or more Bedrooms,,,,,,,,,
96,Total,Total,Total,Armidale Regional,Flat/Unit,Total,200,250,283,96,1263,0,0.0417,-0.3846,-0.1579
97,Total,Total,Total,Armidale Regional,Flat/Unit,Bedsitter,,,,,,,,,
98,Total,Total,Total,Armidale Regional,Flat/Unit,1 Bedroom,175,188,200,s,246,-0.0625,-0.0132,-0.2,-0.2857
99,Total,Total,Total,Armidale Regional,Flat/Unit,Not Specified,,,,,50,,,,

In [11]:
LGA.dtypes

GMR (Greater Metropolitan Region)              object
Greater Sydney                                 object
Rings                                          object
LGA (Local Government Areas)                   object
Dwelling Types                                 object
Bedroom Numbers                                object
First Quartile Weekly Rent for New Bonds\n$    object
Median Weekly Rent for New Bonds\n$            object
Third Quartile Weekly Rent for New Bonds\n$    object
New Bonds Lodged\nNo.                          object
Total Bonds Held\nNo.                          object
Quarterly change in Median Weekly Rent         object
Annual change in Median Weekly Rent            object
Quarterly change in New Bonds Lodged           object
Annual change in New Bonds Lodged              object
dtype: object