Rent Table for Project Comp257

In [2]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
plt.style.use('seaborn')
%matplotlib inline

In [3]:
LGA = pd.read_excel('data/Rent-Tables-clean.xlsx', sheet_name= 0)

In [4]:
postcode = pd.read_excel('data/Rent-Tables-clean.xlsx', sheet_name=1)

In [5]:
LGA.shape

(33067, 15)

In [6]:
postcode.shape

(16481, 12)

In [7]:
LGA.replace(to_replace="-",value="",inplace=True)

In [8]:
LGA.head(100)

,GMR (Greater Metropolitan Region),Greater Sydney,Rings,LGA (Local Government Areas),Dwelling Types,Bedroom Numbers,First Quartile Weekly Rent for New Bonds\n$,Median Weekly Rent for New Bonds\n$,Third Quartile Weekly Rent for New Bonds\n$,New Bonds Lodged\nNo.,Total Bonds Held\nNo.,Quarterly change in Median Weekly Rent,Annual change in Median Weekly Rent,Quarterly change in New Bonds Lodged,Annual change in New Bonds Lodged
0,Total,Total,Total,Total,Total,Total,375.0,475.0,600.0,74871.0,764400.0,-0.0104,-0.0104,-0.0778,0.0240
1,Total,Total,Total,Total,Total,Bedsitter,315.0,390.0,465.0,860.0,8880.0,-0.0488,0.0000,-0.1739,-0.1088
2,Total,Total,Total,Total,Total,1 Bedroom,340.0,450.0,550.0,12637.0,105243.0,-0.0217,-0.0217,-0.1416,0.0235
3,Total,Total,Total,Total,Total,Not Specified,350.0,440.0,560.0,2796.0,57312.0,0.0115,-0.0414,-0.0729,-0.2183
4,Total,Total,Total,Total,Total,2 Bedrooms,360.0,465.0,610.0,27859.0,278716.0,-0.0510,-0.0312,-0.0779,0.0655
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Total,Total,Total,Armidale Regional,Townhouse,4 or more Bedrooms,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,Total,Total,Total,Armidale Regional,Flat/Unit,Total,200.0,250.0,283.0,96.0,1263.0,0.0000,0.0417,-0.3846,-0.1579
97,Total,Total,Total,Armidale Regional,Flat/Unit,Bedsitter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,Total,Total,Total,Armidale Regional,Flat/Unit,1 Bedroom,175.0,188.0,200.0,30.0,246.0,-0.0625,-0.0132,-0.2000,-0.2857
99,Total,Total,Total,Armidale Regional,Flat/Unit,Not Specified,NaN,NaN,NaN,NaN,50.0,NaN,NaN,NaN,NaN

In [9]:
LGA.dtypes

GMR (Greater Metropolitan Region)               object
Greater Sydney                                  object
Rings                                           object
LGA (Local Government Areas)                    object
Dwelling Types                                  object
Bedroom Numbers                                 object
First Quartile Weekly Rent for New Bonds\n$    float64
Median Weekly Rent for New Bonds\n$            float64
Third Quartile Weekly Rent for New Bonds\n$    float64
New Bonds Lodged\nNo.                          float64
Total Bonds Held\nNo.                          float64
Quarterly change in Median Weekly Rent         float64
Annual change in Median Weekly Rent            float64
Quarterly change in New Bonds Lodged           float64
Annual change in New Bonds Lodged              float64
dtype: object

In [10]:
postcode.dtypes

Postcode                                         int64
Dwelling Types                                  object
Bedroom Numbers                                 object
First Quartile Weekly Rent for New Bonds\n$    float64
Median Weekly Rent for New Bonds\n$            float64
Third Quartile Weekly Rent for New Bonds\n$    float64
New Bonds Lodged\nNo.                          float64
Total Bonds Held\nNo.                          float64
Quarterly change in Median Weekly Rent         float64
Annual change in Median Weekly Rent            float64
Quarterly change in New Bonds Lodged           float64
Annual change in New Bonds Lodged              float64
dtype: object